.legend {
  display: flex;
  background-color: #57575b;
  text-transform: uppercase;
  font-size: 1.1333rem;
  line-height: 0rem;
  padding: 20px 0 15px;
  justify-content: center;
}

.button {
  border: none;
  background-color: transparent;
}
