@import "../../styles/util/media";
@import "../../styles/util/mixins";

$layout: "lHeader";

.#{$layout} {
  width: 100%;
  // min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cdd1d1;
  padding-left: var(--espacamento_pequeno);
  padding-right: var(--espacamento_pequeno);

  @include d(tablet) {
    padding-left: var(--espacamento_medio);
    padding-right: var(--espacamento_medio);
  }

  // Modal header
  &.lHeaderModal {
    background: var(--color-bg-station);
  }

  // Logo wrapper
  &__logo {
    display: flex;
    justify-content: center; 
    align-items: baseline; 
    align-content: center;
    margin: 0 auto ;

    & img {
      width: 100%;
    }

    // Imagens
    &_item {
      &:not(:nth-last-child(1)) {
        margin-right: var(--espacamento_medio);

        @include d(tablet) {
          margin-right: var(--espacamento_grande);
        }
      }
      &__casa_viva{
        padding-top: 11%;
      }
      &__width {
        width: 14vw;
      }
    }
  }
}

